<div class="card text-white bg-secondary mb-3 mt-4" style="max-width: 500rem;">
    <div class="card-header">Clientes</div>
    <div class="card-body">
        <h5 class="card-title">Listado de clientes</h5>
        <div class="my-2 text-left">
                <button class="btn btn-rounded btn-primary" type="button" (click)='crearCliente()'>
                Crear Cliente
                </button>
        </div>
        <div *ngIf="clientes.length==0" class="alert alert-info">
            {{sinDatos}}
        </div>
        <div class="table">
            <table class="table table-bordered table-striped" style="max-width: 100%;" *ngIf="clientes.length > 0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombres</th>
                        <th>apellidos</th>
                        <th>email</th>
                        <th>fecha de creación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.id}}</td>
                        <td>{{cliente.nombre}}</td>
                        <td>{{cliente.apellido}}</td>
                        <td>{{cliente.email}}</td>
                        <td>{{cliente.createAt}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
