<div class="card bg-dark text-white mt-5">
    <div class="card-header">{{ titulo }}</div>
        <div class="card-body">
        <form>
            <div class="form-group row mb-3">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" placeholder="Ingrese su nombre">
                </div>
              </div>
            <div class="form-group row mb-3">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="apellido" placeholder="Ingrese sus apellidos">
                </div>
            </div>
                <div class="form-group row">
                    <label for="email" class="col-form-label col-sm-2">Email</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="email" placeholder="Ingrese su correo">
                    </div>
                </div>
        </form>
    </div>
</div>